.map {
    width: 100vw;
    height: 100vh;
}
    .map-title {
        font-size: 2vw;
    }
        .map-title__main {
            font-weight: bold;
        }
        .map-title__copyright {
            font-size: 0.5em;
        }
    .map-container {
        width: 100%;
        height: 100%
    }
        .map__path {
            stroke: white;
            stroke-width: 0.5px;
            fill: #646464;
        }
