.menu {
    height: 10%;
    background-color: #808080;
    box-shadow: 10px 10px 5px #C9C9C9;
  }

.menu__button {
    cursor: pointer;
    display: inline-block;
    margin-top: 1em;
    margin-left: 0.5em;
}
        .menu__line {
            width: 1.75em;
            height: 0.25em;
            background-color: #d3d3d3;
            margin: 0.45em 0;
            transition: 0.7s;
        }
        .menu__button--clicked .menu__line--1 {transform: rotate(-45deg) translate(-1vh, 0.9vh)}
        .menu__button--clicked .menu__line--2 {opacity: 0}
        .menu__button--clicked .menu__line--3 {transform: rotate(45deg) translate(-1vh, -0.95vh)}

.menu__body {
    position: absolute;
    top: 12em;
}
    .menu__list {
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: space-around;
        gap: 0.5em;
    }
        .list__item {
            padding: 1.25em;
            text-align: center;
            background-color: white;
            border: 0.15em solid black;
            cursor: pointer;
            color: black;
            font-size: 0.75em;
        }
        .list__item:hover {background-color: black; color: white; transition: 0.25s;}
        .list__item.active {text-decoration: underline;}

@media (min-width: 650px) {
    .menu__list {
        width: 50%;
    }
        .list__item {
            font-size: 1em;
        }
}
